.group {
  display: flex;
  flex-wrap: wrap;
}

.file {
  text-align: center;
}

.img, .img-duplicate {
  max-width: 250px;
}

.img-duplicate {
  filter: grayscale(100%);
}

.my-width {
  max-width: 800px
}

.my-width-groups {
  max-width: 800px
}
