* {
  font-family: Arial, Helvetica, sans-serif;
}

.group {
  display: flex;
  flex-wrap: wrap;
}

.file {
  text-align: center;
  margin: 10px;
}

.img {
  max-width: 150px;
}

.img-duplicate {
  // border: 5px solid red;
  // filter: grayscale(100%);
  max-width: 50px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid lightgrey;
  padding: 5px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
