<h2 class="my-width mx-auto">Grouping and resizing images for uploading to Google Photos</h2>

<div *ngIf="!user" class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Not signed in</h4>
    <p class="card-text">Sign in with</p>
  </div>
  <div class="card-block">
    <button class="btn btn-primary mb-2" (click)="signInWithGoogle()">Sign in with Google</button>
  </div>
</div>

<div *ngIf="user" class="card text-center">
  <div class="card-block">
    <h4 class="card-title">{{ user.name }}</h4>
    <p class="card-text">{{ user.email }}</p>
    <p class="card-text">Logged in with {{ user.provider }}</p>
  </div>
  <div class="card-block">
    <button class="btn btn-danger" (click)="signOut()">Sign out</button>
  </div>
</div>

<div>
  <h3 class="my-width mx-auto">Parameters (grouping, resizing)</h3>
  <form [formGroup]="paramsForm">
    <div class="form-group my-width mx-auto">
      <label for="timeDiffDuplicate">Time diff for duplicates (in sec)</label><br />
      <input class="form-control" id="timeDiffDuplicate" type="text" formControlName="timeDiffDuplicate"/>
      <div class="card-text text-danger" *ngIf="paramsForm.get(['timeDiffDuplicate']).errors">
        Time diff for duplicates (in sec) must be between 1 and 3600.
      </div>
    </div>
    <div class="form-group my-width mx-auto">
      <label for="timeDiffGroup">Time diff for groups (in sec)</label><br />
      <input class="form-control" id="timeDiffGroup" type="text" formControlName="timeDiffGroup"/>
      <div class="card-text text-danger" *ngIf="paramsForm.get(['timeDiffGroup']).errors">
        Time diff for groups (in sec) must be between 60 and 86400.
      </div>
    </div>
    <div class="form-group my-width mx-auto">
      <label for="resizeWidth">Resize width (px)</label><br />
      <input class="form-control" id="resizeWidth" type="text" formControlName="resizeWidth"/>
      <div class="card-text text-danger" *ngIf="paramsForm.get(['resizeWidth']).errors">
        Resize width (px) must be between 1 and 10000.
      </div>
    </div>
    <div class="form-group my-width mx-auto">
      <label for="resizeHeight">Resize height (px)</label><br />
      <input class="form-control" id="resizeHeight" type="text" formControlName="resizeHeight"/>
      <div class="card-text text-danger" *ngIf="paramsForm.get(['resizeHeight']).errors">
        Resize height (px) must be between 1 and 10000.
      </div>
    </div>
  </form>
</div>

<div class="card p-3 mb-2 bg-light text-dark my-width mx-auto" *ngIf="paramsForm.status != 'VALID'">
  <div class="card-text text-danger">
    Parameters not valid
  </div>
</div>

<form [formGroup]="inputFilesForm" *ngIf="paramsForm.status == 'VALID'">
  <div class="form-group my-width mx-auto">
    <label for="inputFiles">Select images for grouping</label>
    <input class="form-control" id="inputFiles" #file type="file" accept="image/*" (change)="processFiles(file.files)"
      multiple />
  </div>
</form>

<div class="card p-3 mb-2 bg-light text-dark my-width mx-auto" *ngIf="filesCount">
  <div class="card-body">
    <p class="card-text text-danger" *ngIf="mediaItems.length != filesCount">Resizing in progress
      ({{ mediaItems.length }} of {{ filesCount }})</p>
    <p class="card-text text-primary" *ngIf="mediaItems.length == filesCount">Finished: {{ mediaItems.length }} files
      resized to {{ resizeWidth }}x{{ resizeHeight }}px.</p>
  </div>
</div>

<div *ngIf="filesLoaded">
  <div class="card p-3 mb-2 bg-light text-dark my-width mx-auto">
    <div class="card-body">
      <button class="btn btn-primary mb-2" (click)="createGroups()">
        Create groups
      </button>
      <p class="card-text" *ngIf="getUniqueMediaItemsCount()">
        {{ getUniqueMediaItemsCount() }} files without duplicates in
        {{ mediaItemsGroups.length }} groups
      </p>
    </div>
  </div>
</div>

<div *ngIf="getUniqueMediaItemsCount()">
  <h3 class="my-width mx-auto">Images in groups</h3>

  <div class="my-width-groups mx-auto">
    <div *ngFor="let group of mediaItemsGroups" class="card border p-3 mb-2">
      <div class="card-header">
        <button (click)="changeShowGroup(group)"
          class="btn btn-primary mb-2">{{ group.show ? 'Hide images' : 'Show images' }}</button><br />
        <div *ngIf="group.show">
          <button (click)="changeLargePreview(group)"
            class="btn btn-secondary mb-2">{{ group.largePreview ? 'Small preview' : 'Large preview' }}</button>
          <button (click)="changeShowOnlyDuplicates(group)" class="btn btn-secondary mb-2"
            *ngIf="(group.mediaItemsForGrouping.length - group.getCountWithoutDuplicates()) > 0 || group.showOnlyDuplicates">
            {{ group.showOnlyDuplicates ? 'Hide duplicates' : 'Show ' + (group.mediaItemsForGrouping.length - group.getCountWithoutDuplicates()) + ' duplicates' }}
          </button>
        </div>
        <h5 #groupName contenteditable (blur)="updateGroupName(group, groupName.textContent)">{{ group.name }}</h5>
        <div>{{ group.getCountWithoutDuplicates() }} unique files (of {{ group.mediaItemsForGrouping.length }})</div>
        <button (click)="removeGroup(group)" class="btn btn-primary mb-2" *ngIf="group.show">Remove group</button>
      </div>

      <div class="card-body group" *ngIf="group.show">
        <div *ngFor="let item of group.mediaItemsForGrouping">
          <div class="file p-3 mb-2"
            *ngIf="(group.showOnlyDuplicates && item.isDuplicate == 'Y') || (!group.showOnlyDuplicates && item.isDuplicate == 'N')">
            {{ item.mediaItem.dateTime | date: "HH:mm:ss" }}<br />
            <img [ngClass]="group.largePreview ? 'large-img': 'small-img'" [src]="item.mediaItem.contentUrl" /><br />
            <button (click)="changeIsDuplicate(group, item)" class="btn btn-primary mb-2">
              {{ item.isDuplicate === "Y" ? "Add" : "Remove" }}</button>
            <div>
              {{ item.mediaItem.uploadSuccess ? "Uploaded" : "Not uploaded" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="mediaItemsGroups.length">
  <h3 class="my-width mx-auto">Groups overview</h3>

  <table class="table table-bordered my-width mx-auto p-3 mb-2">
    <th>Group</th>
    <th>Days</th>
    <th>Album</th>
    <th>Files</th>
    <th>Uploaded</th>
    <th>Not uploaded</th>
    <tr *ngFor="let group of mediaItemsGroups">
      <td>{{ group.name }}</td>
      <td>{{ getDaysDiffFromToday(group.startTime) }}</td>
      <td>{{ group.albumId ? 'CREATED' : 'not created' }}</td>
      <td>{{ group.getCountWithoutDuplicates() }}</td>
      <td>{{ group.getUploadedCount() }}</td>
      <td>{{ group.getCountWithoutDuplicates() - group.getUploadedCount() }}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td>{{ getUniqueMediaItemsCount() }}</td>
      <td>{{ getUploadedCount() }}</td>
      <td>{{ getUniqueMediaItemsCount() - getUploadedCount() }}</td>
    </tr>
  </table>

  <h3 class="my-width mx-auto">Upload to Google Photos</h3>

  <div class="card p-3 mb-2 bg-light text-dark my-width mx-auto">
    <div class="card-body">
      <p class="card-text">
        <button (click)="createAlbumsAndMedia()" class="btn btn-primary mb-2" [disabled]="!user">Create albums
          and upload files to Google Photos</button>
      </p>
      <p class="card-text text-danger" *ngIf="uploadingStatus == 'InProgress'">UPLOADING IN PROGRESS</p>
      <p class="card-text text-primary" *ngIf="uploadingStatus == 'Success'">UPLOADING SUCCESSFULLY FINISHED</p>
      <p class="card-text text-danger" *ngIf="uploadingStatus == 'Fail'">UPLOADING FAILED (see the Groups Overview table
        for details)</p>
    </div>
  </div>
</div>
