.group {
  display: flex;
  flex-wrap: wrap;
}

.file {
  text-align: center;
  margin: 10px;
}

.img, .img-duplicate {
  max-width: 250px;
}

.img-duplicate {
  filter: grayscale(100%);
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid lightgrey;
  padding: 5px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.my-width {
  max-width: 400px
}
