<h2>Grouping Images</h2>
<p>Get access token to Google Photos from: <a href="https://developers.google.com/oauthplayground" target="_blank">OAuth 2.0 Playground</a></p>
<p>Authorize APIs:</p>
<p>https://www.googleapis.com/auth/photoslibrary.appendonly</p>
<form [formGroup]="uploadForm">
  <label for="accessToken">Access Token (from OAuth 2.0 Playground)</label><br/>
  <input id="accessToken" type="text" formControlName="accessToken"/>
</form>
<input #file type="file" accept='image/*' (change)="processFiles(file.files)" multiple/>
<p *ngIf="mediaItems.length > 0">{{mediaItems.length}} files in total</p>
<p *ngIf="getUniqueMediaItemsCount() > 0">{{getUniqueMediaItemsCount()}} files without duplicates in {{mediaItemsGroups.length}} groups</p>

<table *ngIf="mediaItemsGroups.length > 0">
  <th>Group</th>
  <th>Files</th>
  <th>Days</th>
  <tr *ngFor="let group of mediaItemsGroups">
    <td #groupName contenteditable (blur)="updateGroupName(group, groupName.textContent)">{{ group.name }}</td>
    <td>{{ group.getCountWithoutDuplicates() }}</td>
    <td>{{ getDaysDiffFromToday(group.startTime) }}</td>
  </tr>
</table>
<p><button (click)="createAlbums()">Create albums</button></p>
<p><button (click)="createMedia()">Upload files</button></p>
<p></p>
<div *ngFor="let group of mediaItemsGroups">
  <div><b>{{ group.name }} - {{ group.getCountWithoutDuplicates() }} unique files (of {{ group.mediaItemsForGrouping.length }})</b></div>
  <div class="group">
    <div class="file" *ngFor="let item of group.mediaItemsForGrouping">
      {{ item.mediaItem.dateTime | date:'HH:mm:ss' }}<br/>
      <img class="img" [ngClass]="{'img-duplicate': item.isDuplicate === 'Y'}" [src]="item.mediaItem.contentUrl"><br/>
      <button (click)="changeIsDuplicate(group, item)">{{item.isDuplicate === 'Y' ? 'Add' : 'Remove'}}</button>
    </div>
  </div>
</div>
